<div id='login_form' class='col-md-4 container'>
    <form action='/login_anyway' method='post'>
            <input type='text' name='username' class='form-control' placeholder="用户名/邮箱/手机号" autofocus required>
            <br />
            <input type='password' name='password' class='form-control' placeholder="密码" required>
            <br />
            <button type='submit' class='btn btn-primary btn-lg btn-block'>登录账号</button>
    </form>
</div>